<%- include('../partials/header') %>


    <ul class="list">
      <%skills.forEach(function(s){%>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add a New Skill</a>


    <%- include('../partials/footer') %>
