<%- include('../partials/header') %>

<h1>New Skill</h1>

<form action="/skills" method="POST" autocomplete="off">
    <input type="text" placeholder="Add New Skill" name="skill">
    <input type="submit" value="ADD SKILL">

</form>


<%- include('../partials/footer') %>



  
 